@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 20% 98%;
    --btn-background: 200 10% 91%;
    --btn-background-hover: 200 10% 89%;
    --foreground: 200 50% 3%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 200 50% 3%;
      --btn-background: 200 10% 9%;
      --btn-background-hover: 200 10% 12%;
      --foreground: 200 20% 96%;
    }
  }
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  * {
    @apply border-foreground/20;
  }
  .flex-col-center {
    @apply flex flex-col items-center justify-center;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
}

.loader {
  position: relative;

  display: inline-block;

  font-size: 48px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #008bd0;
  letter-spacing: 2px;
}

.loader::after {
  content: "Loading";

  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;
  overflow: hidden;

  color: #005077;

  animation: animation-loader 3s linear infinite;
}

@keyframes animation-loader {
  0% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

@layer components {
  .table-base {
    @apply flex justify-between w-full gap-4 p-4 bg-white rounded-lg shadow-small;
  }
  .table {
    @apply w-full h-auto min-w-full shadow-lg table-auto;
  }
  .table-error {
    @apply flex justify-between w-full gap-4 p-4 bg-white rounded-lg shadow-small;
  }
  .table-error p {
    @apply flex items-center justify-center w-full h-10 px-3 font-semibold rounded-lg text-foreground-500 text-medium bg-default-100;
  }

  .table > thead > tr {
    @apply rounded-lg outline-none;
  }
  .table > thead > tr th {
    @apply h-10 px-3 font-semibold text-left text-foreground-500 text-tiny bg-default-100 first:rounded-l-lg last:rounded-r-lg;
  }
  .table > tbody > tr {
    @apply border-b outline-none hover:bg-slate-100;
  }
  .table > tbody > tr td {
    @apply px-3 py-2 font-normal align-middle outline-none text-small;
  }

  .button {
    @apply flex items-center justify-center;
  }
  .small-button {
    @apply h-12 gap-3 px-6 font-semibold rounded-lg button text-small;
  }
  .toggle {
    @apply w-10 cursor-pointer;
  }
  .success-button {
    @apply bg-blue-300 text-slate-800 success-button-hover success-button-focus;
  }
  .success-button-hover {
    @apply hover:bg-blue-500 hover:text-white;
  }
  .success-button-focus {
    @apply focus-visible:outline-2 focus-visible:outline-blue-900 focus-visible:outline-offset-2;
  }
  .warning-button {
    @apply text-slate-800 bg-amber-300 warning-button-hover warning-button-focus;
  }
  .warning-button-hover {
    @apply hover:bg-amber-500 hover:text-white;
  }
  .warning-button-focus {
    @apply focus-visible:outline-2 focus-visible:outline-amber-900 focus-visible:outline-offset-2;
  }
  .delete-button {
    @apply text-slate-800 bg-rose-300 delete-button-hover delete-button-focus;
  }
  .delete-button-hover {
    @apply hover:bg-rose-500 hover:text-white;
  }
  .delete-button-focus {
    @apply focus-visible:outline-2 focus-visible:outline-rose-900 focus-visible:outline-offset-2;
  }

  .form {
    @apply relative flex flex-col flex-wrap gap-5 px-20 py-10 mx-auto my-10 shadow-lg rounded-2xl bg-slate-200 w-9/10;
  }
  .label {
    @apply flex items-center justify-between gap-2;
  }
  .label input {
    @apply px-2 py-1 text-black border bg-slate-100 border-slate-300 input-hover input-focus input-disabled;
  }
  .input-hover {
    @apply hover:bg-slate-200;
  }
  .input-focus {
    @apply focus-visible:outline-offset-2 focus-visible:outline-1 focus-visible:outline-slate-600;
  }
  .input-disabled {
    @apply disabled:opacity-50 disabled:cursor-not-allowed;
  }

  .supply-search-input-box {
    @apply flex flex-col w-1/4;
  }
  .supply-search-input-box > div {
    @apply flex justify-between;
  }
  .supply-search-input-box > div > .supply-search-input {
    @apply w-1/3;
  }
  .supply-search-input {
    @apply border-2;
  }
  .supply-table {
    @apply w-full border-2 border-collapse table-fixed border-foreground;
  }
  .supply-table > caption {
    @apply text-2xl;
  }
  .supply-table td,
  .supply-table th {
    @apply p-5 text-center border;
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
